mixin api_item(name, status, total, approved, update)
  tr
    td.name= name
    if status
      td.status.status--active
        .tooltip Active
    else
      td.status.status--blocked
        .tooltip Blocked
          .tooltip-hover
            .tooltip-row
              .left Blocked by
              .right
                a(href='#' target='_blank') Username
            .tooltip-row
              .left Block date
              .right 12, 2020 – 12:00 EST
            .tooltip-row
              .left Reason
              .right Way too much bad coupons
    td.total= total
    td.approved= approved
    td.updateMay= update
    td.buttons
      button Details
      if status
        button.block Block
      else
        button.unblocked Unblock

mixin api_item_inst(name, status, total, approved, tags, crawl, update)
  tr
    td.name= name
    if status
      td.status.status--active
        .tooltip Active
    else
      td.status.status--blocked
        .tooltip Blocked
          .tooltip-hover
            .tooltip-row
              .left Blocked by
              .right
                a(href='#' target='_blank') Username
            .tooltip-row
              .left Block date
              .right 12, 2020 – 12:00 EST
            .tooltip-row
              .left Reason
              .right Way too much bad coupons
    td.total= total
    td.approved= approved
    td.tags= tags
    td.crawl= crawl
    td.updateMay= update
    td.buttons
      a(href='/insta_detail.html') Details
      if status
        button.block Block
      else
        button.unblocked Unblock


mixin api_item_single(name, coupon, shop, recived, date, moderator)
  tr
    td.coupon
      .name= name
      p= coupon
    td.shop= shop
    td.recived= recived
    td.date= date
    td.moderator= moderator
    td.buttons.buttons--padding
      button Details
      button.block Unpublish


mixin api_item_post(post, recived, declined, moderator)
  tr
    td.post
      p= post
    td.recived= recived
    td.declined= declined
    td.moderator= moderator
    td.buttons
      button Details